.idea
hks_backend/settings.sublime-workspace
manage.sublime-workspace
thermondo-backens.sublime-project
thermondo-backens.sublime-workspace
dump.rdb
yarn.lock
node_modules/
myenv
.direnv/
.python-version
.envrc
.DS_Store
runtime.txt
.nvmrc
db-scripts/
docker-compose.yml
.mypy_cache
.pytest_cache
.vscode/

*.lock
